menu "CorESP32 Configuration"

config CORESP32_MAIN_TASK_STACK_SIZE
    int "Main task stack size"
    default 5120
    range 2048 16384
    help
        Stack size for main task (app_main).
        Increase if you get stack overflow errors.

endmenu